@import "@/assets/styles/colors.scss";

.dynamo-meter-scores {
    padding: 10px 0 0 10px;
}

.dynamo-meter-scores__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dynamo-meter-scores__list-item {
    display: flex;
    align-items: center;
}

.dynamo-meter-scores__list-item-image {
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.dynamo-meter-scores__list-item-count {
    font-size: 16px;
    line-height: 1;
    color: $white;
    margin-left: 5px;
}
