$white: #ffffff;
$black: #000000;
$dark: #050623;
$purple: #ff42e0;
$purple2: #8e1bcb;
$dark-purple: #bb20a2;
$lite-purple: #b676cb;
$yellow: #ffdf35;
$green: #00D355;
$dark-blue: #0b0f71;
$dark-blue2: #142563;
$dark-blue3: #0a0e68;
$dark-blue4: #080b3a;
$lite-blue: #6c99d1;
$lite-blue2: #73c4e7;
$lite-blue3: #acebff;
$lite-blue4: #56ccf2;
$lite-blue5: #c3e5f5;
$lite-blue6: #63B6DF;
$blue: #141893;
$pink: #eb2678;
$lite-red: #f65a5a;
$lite-red2: #ff9191;
$red: #c53030;
$red2: #ff0303;

$measure-colors: (
    #254b9d,
    #3a5ca5,
    #5878be,
    #7593d6,
    #94aadc,
    #b7c8ed,
    #d1defb,
);

$measure-colors-active: (
    #00b047,
    $green,
    #91e508,
    $yellow,
    #ffae4e,
    #ff784e,
    $lite-red
);
